* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #232323;
  font-weight: 400;
  color: #e2d8d8; }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 800px) {
    .main {
      flex-direction: column; } }
  .main .main_para {
    color: #f19f07; }
    .main .main_para:hover {
      color: deeppink; }

.light {
  background-color: white;
  color: black; }
