body {
  background-color: #232323;
  font-size: 700;
  color: #e2d8d8; }

.main {
  width: 80%;
  margin: 0 auto; }
  .main .main_para {
    color: #f19f07; }
    .main .main_para:hover {
      color: deeppink; }
